.circular-game.num10 ul > li > span {
  /*
  transform: rotate(-60deg) skew(-30deg);
  */
}

.circular-game.num10 ul > li:nth-child(1) {
  transform: rotate(36deg) skew(54deg);
}
.circular-game.num10 ul > li:nth-child(2) {
  transform: rotate(72deg) skew(54deg);
}
.circular-game.num10 ul > li:nth-child(3) {
  transform: rotate(108deg) skew(54deg);
}
.circular-game.num10 ul > li:nth-child(4) {
  transform: rotate(144deg) skew(54deg);
}
.circular-game.num10 ul > li:nth-child(5) {
  transform: rotate(180deg) skew(54deg);
}
.circular-game.num10 ul > li:nth-child(6) {
  transform: rotate(216deg) skew(54deg);
}
.circular-game.num10 ul > li:nth-child(7) {
  transform: rotate(252deg) skew(54deg);
}
.circular-game.num10 ul > li:nth-child(8) {
  transform: rotate(288deg) skew(54deg);
}
.circular-game.num10 ul > li:nth-child(9) {
  transform: rotate(324deg) skew(54deg);
}
.circular-game.num10 ul > li:nth-child(10) {
  transform: rotate(360deg) skew(54deg);
}