ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
}

div.circular-game {
  position: relative;
  
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
}

.circular-game ul > li {
  width: 125px;
  height: 125px;
  transform-origin: 100% 100%;
  position: absolute;
  top: 0px;
  line-height: 125px;
}

.circular-game ul > li > span {
  display: block;
  line-height: 125px;
  text-align: center;
  transform: rotate(-60deg) skew(-30deg);
}

.circular-game ul > li:nth-child(1) {
  transform: rotate(60deg) skew(30deg);
  background-color: blue;
}
.circular-game ul > li:nth-child(2) {
  transform: rotate(120deg) skew(30deg);
  background-color: yellow;
}
.circular-game ul > li:nth-child(3) {
  transform: rotate(180deg) skew(30deg);
  background-color: purple;
}
.circular-game ul > li:nth-child(4) {
  transform: rotate(240deg) skew(30deg);
  background-color: orange;
}
.circular-game ul > li:nth-child(5) {
  transform: rotate(300deg) skew(30deg);
  background-color: pink;
}
.circular-game ul > li:nth-child(6) {
  transform: rotate(360deg) skew(30deg);
  background-color: aqua;
}