.circular-game.num6 ul > li > span {
  /*
  transform: rotate(-45deg) skew(0deg);
  */
}

.circular-game.num6 ul > li:nth-child(1) {
  transform: rotate(60deg) skew(30deg);
}
.circular-game.num6 ul > li:nth-child(2) {
  transform: rotate(120deg) skew(30deg);
}
.circular-game.num6 ul > li:nth-child(3) {
  transform: rotate(180deg) skew(30deg);
}
.circular-game.num6 ul > li:nth-child(4) {
  transform: rotate(240deg) skew(30deg);
}
.circular-game.num6 ul > li:nth-child(5) {
  transform: rotate(300deg) skew(30deg);
}
.circular-game.num6 ul > li:nth-child(6) {
  transform: rotate(360deg) skew(30deg);
}